  <nav>
    <div class="nav-wrapper">
      <a [routerLink]="['']" class="brand-logo"> &nbsp; <img src="http://richlira.com/mercadito/logo1.png">Mercadito</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['producto']">Productos</a></li>
        <li><a [routerLink]="['listadeproductos']">Lista de Productos</a></li>
        <li> <a [routerLink]="['mapa']">Alrededor mio</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a [routerLink]="['producto']">Productos</a></li>
        <li><a [routerLink]="['listadeproductos']">Lista de Productos</a></li>
        <li> <a [routerLink]="['mapa']">Alrededor mio</a></li>
      </ul>
    </div>
  </nav>
             
