<table class="table table-hover">
		<tr>
			<th> Icono
			</th>
			<th>
				Producto
			</th>
			<th>
				Descripcion
			</th>
			<th>
				Precio
			</th>
			<th>
				Disponibles
			</th>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Tomate</td>
			<td>Un rico natural tomate</td>
			<td>$10.90</td>
			<td>20,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Aguacate</td>
			<td>Un rico natural tomate</td>
			<td>$10.90</td>
			<td>20,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Ropa</td>
			<td>Camisas para llevar</td>
			<td>$90</td>
			<td>2,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Zapatos</td>
			<td>Zapato Natural de Piel</td>
			<td>$590</td>
			<td>100,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Tomate</td>
			<td>Un rico natural tomate</td>
			<td>$10.90</td>
			<td>20,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Aguacate</td>
			<td>Un rico natural tomate</td>
			<td>$10.90</td>
			<td>20,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Ropa</td>
			<td>Camisas para llevar</td>
			<td>$90</td>
			<td>2,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Zapatos</td>
			<td>Zapato Natural de Piel</td>
			<td>$590</td>
			<td>100,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Tomate</td>
			<td>Un rico natural tomate</td>
			<td>$10.90</td>
			<td>20,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Aguacate</td>
			<td>Un rico natural tomate</td>
			<td>$10.90</td>
			<td>20,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Ropa</td>
			<td>Camisas para llevar</td>
			<td>$90</td>
			<td>2,000</td>
		</tr>
		<tr>
			<td><img src="http://megaicons.net/static/img/icons_title/8/178/title/sections-of-website-product-icon.png"></td>
			<td>Zapatos</td>
			<td>Zapato Natural de Piel</td>
			<td>$590</td>
			<td>100,000</td>
		</tr>
		
</table>
